html, body {
  height: 100vh;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
}

.keys {
  width: 55%;
  display: flex;
  justify-content: space-between;
}

.key {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 150%;

  border: 1px solid green;
}
