html {
  height: 100vh;
}

body {
  height: 100vh;
  box-sizing: border-box;
  font-size: medium;
  background-color: #D32F2F;
  color: #fff;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.keys {
  width: 75%;
  display: flex;
  justify-content: space-between;
}

.key {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border: 3px solid #fff;
}

.playing {
  box-shadow: 0 0 20px #FCF3AF;
  border: 3px solid #FCF3AF;
  transform: scale(1.1);
}

.sound {
  font-size: 100%;
}

kbd {
  font-size: 250%;
}

#message {
  bottom: 200px;
  position: absolute;
  font-size: 200%;
}
